body{
    background-color: rgb(242, 233, 226);
}
.container{
    margin: 100px;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 450px;
    justify-content: center;
}
.img-container{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(./images/image-product-desktop.jpg);
    background-position: center;
}
.txt-container{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 20px;
    background-color: white;
    position: relative;
}
button{
    background-color: rgb(81, 112, 80);
    border-radius: 20px;
    padding: 10px 60px;
    position: absolute;
    bottom: 50px;
    
}
button span{
    color: white;
    margin-left: 10px;
    
    
}
#num{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(81, 112, 80);
}
.num{
    text-decoration-line: line-through;
    margin-right: 10px;

}
.para{
    font-size: 22px;
}
.header{
    font-size: 25px;
}
@media only screen and (max-width: 486px){
    .container{
        margin: 30px;
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: 450px 450px;
        justify-content: center;
    }
    .txt-container{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 20px;
        background-color: white;
        position: relative;
    } 
}